_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
**/node_modules/
vendor
.idea
pnpm-lock.yaml
**/pnpm-lock.yaml
.env
**/.env